<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8" ng-app="rutha"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9" ng-app="rutha"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es" ng-app="ruthaApp" ng-hint>
<!--<![endif]-->
<head>
    <title><%- title %></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plain HTML template">
    <meta name="author" content="Rutha">
    <link rel="stylesheet" href="../dist/components/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../dist/app.min.css">

    <script src="../dist/app.js"></script>
    <script src="../dist/templates.js"></script>
    </head>
    <body>

            <!-- Fixed navbar -->
    <%= navbar %>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Hello Hejsan Hola Rutha!</h1>
      </div>
      <p class="lead">Secure page</p>
            
      <div ng-view>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">Rutha / MIT Licensed / Made in Panama.</p>
      </div>
    </div>

          <script type='text/javascript'>//<![CDATA[
document.write("<script async src='//HOST:3000/browser-sync-client.1.3.5.js'><\/script>".replace(/HOST/g, location.hostname));
//]]></script>
    </body>
    </html>
